.guessBox{
	text-align: center;
	font-size: 1.5rem;
	/*background-color: #a1d6e2;*/
	width: 3rem;
}
button{
	display: block;
	font-size: 1.5rem;
	padding: .5rem 1rem;
	margin: 1rem auto;
}
.form{
	padding: 1rem;
}
.finalSentence{
	text-align: center;
}
.bigNumber{
	font-size: 2rem;
    border: 1px white solid;
    padding: 5px;
}