body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url('./images/9343.jpg');
  background-size: cover;
  /*background-color: lightgrey;*/
}

h2 {
	font-size: 2rem;
	color: white;
}

h2, h3 {
	font-family: 'Oswald', sans-serif;
}